# Build results
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains
.idea/
*.iml

# VS Code
.vscode/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/
*.dll
*.exe

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Publish
*.PublishSettings
Properties/PublishProfiles/

# Secrets
appsettings.Development.json
appsettings.*.json
